In [ ]:
# IMport pandas
import pandas as pd

In [ ]:
# Read csv file and display first 5 rows
df=pd.read_csv('movies.csv')
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [ ]:
# Display data types
df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget      float64
gross       float64
company      object
runtime     float64
dtype: object

In [ ]:
df.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [ ]:
df['rating'].tail()

7663    NaN
7664    NaN
7665    NaN
7666    NaN
7667    NaN
Name: rating, dtype: object

In [ ]:
df['rating'].value_counts()

R            3697
PG-13        2112
PG           1252
Not Rated     283
G             153
Unrated        52
NC-17          23
TV-MA           9
TV-PG           5
X               3
Approved        1
TV-14           1
Name: rating, dtype: int64

In [ ]:
df['rating'].value_counts(normalize=True)*100

R            48.702411
PG-13        27.822421
PG           16.493216
Not Rated     3.728099
G             2.015545
Unrated       0.685022
NC-17         0.302990
TV-MA         0.118561
TV-PG         0.065867
X             0.039520
Approved      0.013173
TV-14         0.013173
Name: rating, dtype: float64

In [ ]:
df2=df.copy()

In [ ]:
df2.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [ ]:
import numpy as np
df2['rating'].replace(np.nan,'R',inplace=True)

In [ ]:
df2['rating'].isnull().sum()

0

In [ ]:
df2.isnull().sum()

name           0
rating         0
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [ ]:
df2['score'].head()

0    8.4
1    5.8
2    8.7
3    7.7
4    7.3
Name: score, dtype: float64

In [ ]:
df2['score'].head()

0    8.4
1    5.8
2    8.7
3    7.7
4    7.3
Name: score, dtype: float64

In [ ]:
mean1=df2['score'].mean()

In [ ]:
mean1

6.390410958904109

In [ ]:
df2['score'].replace(np.nan,mean1,inplace=True)

In [ ]:
df2['score'].isnull().sum()

0

In [ ]:
df2['votes'].head()

0     927000.0
1      65000.0
2    1200000.0
3     221000.0
4     108000.0
Name: votes, dtype: float64

In [ ]:
df2['votes'].isnull().sum()

3

In [ ]:
mean2=df2['votes'].mean().astype(int).astype(float)

In [ ]:
mean2

88108.0

In [ ]:
df2['votes'].replace(np.nan,mean2,inplace=True)

In [ ]:
df2['votes'].isnull().sum()

0

In [ ]:
df2.isnull().sum()

name           0
rating         0
genre          0
year           0
released       2
score          0
votes          0
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [ ]:
df2['runtime'].head()

0    146.0
1    104.0
2    124.0
3     88.0
4     98.0
Name: runtime, dtype: float64

In [ ]:
df2['runtime'].isnull().sum()

4

In [ ]:
mean3=df2['runtime'].mean().astype(int).astype(float)

In [ ]:
mean3

107.0

In [ ]:
df2['runtime'].replace(np.nan,mean3,inplace=True)

In [ ]:
df2['runtime'].head()

0    146.0
1    104.0
2    124.0
3     88.0
4     98.0
Name: runtime, dtype: float64

In [ ]:
df2['runtime'].tail()

7663     90.0
7664     90.0
7665    107.0
7666    120.0
7667    102.0
Name: runtime, dtype: float64

In [ ]:
df2['runtime'].isnull().sum()

0

In [ ]:
df2.isnull().sum()

name           0
rating         0
genre          0
year           0
released       2
score          0
votes          0
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        0
dtype: int64

In [ ]:
df2['star'].isnull().sum()

1

In [ ]:
df.shape

(7668, 15)

In [ ]:
df2['star'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
7663    False
7664    False
7665    False
7666    False
7667    False
Name: star, Length: 7668, dtype: bool

In [ ]:
df02_missing=df2['star'].isnull()

In [ ]:
for x in range(7668):
  if df02_missing[x]==True:
    print(x)

474

In [ ]:
df02_missing[474]

True

In [ ]:
df2[474:475]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
474,The Business of Show Business,R,History,1983,"February 15, 1983 (Canada)",8.3,79.0,Tom Logan,Tom Logan,NaN,Canada,323562.0,NaN,CTV,55.0

In [ ]:
df22=df2.copy()

In [ ]:
df22['star'].replace(np.nan,'Tom Logan',inplace=True)

In [ ]:
df22['star'].isnull().sum()

0

In [ ]:
df2['star'].isnull().sum()

1

In [ ]:
df2['star'].replace(np.nan,'Tom Logan',inplace=True)

In [ ]:
df2['star'].isnull().sum()

0

In [ ]:
df2.isnull().sum()

name           0
rating         0
genre          0
year           0
released       2
score          0
votes          0
director       0
writer         3
star           0
country        3
budget      2171
gross        189
company       17
runtime        0
dtype: int64

In [ ]:
df03=df2['writer'].isnull()

In [ ]:
for x in range(7668):
  if df03[x]==True:
    print(x)

1820
5834
7655

In [ ]:
df2[1820:1821]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
1820,The Garden,Unrated,Drama,1990,1990 (United States),6.4,840.0,Derek Jarman,NaN,Tilda Swinton,United Kingdom,NaN,5006.0,Basilisk Communications,92.0

In [ ]:
df2[5834:5835]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5834,The Trip,Not Rated,Comedy,2010,"April 24, 2011 (Greece)",7.0,22000.0,Michael Winterbottom,NaN,Steve Coogan,United Kingdom,NaN,3945217.0,Baby Cow Productions,112.0

In [ ]:
df2[7655:7656]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7655,Legend of Deification,TV-PG,Animation,2020,"October 1, 2020 (United States)",6.6,1300.0,Teng Cheng,NaN,Guangtao Jiang,China,NaN,240663149.0,Beijing Enlight Pictures,110.0

In [ ]:
df2.at[7655,'writer']='Qianying Xie'

In [ ]:
df2[7655:7656]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7655,Legend of Deification,TV-PG,Animation,2020,"October 1, 2020 (United States)",6.6,1300.0,Teng Cheng,Qianying Xie,Guangtao Jiang,China,NaN,240663149.0,Beijing Enlight Pictures,110.0

In [ ]:
df2.at[1820,'writer']='Derek Jarman'

In [ ]:
df2[1820:1821]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
1820,The Garden,Unrated,Drama,1990,1990 (United States),6.4,840.0,Derek Jarman,Derek Jarman,Tilda Swinton,United Kingdom,NaN,5006.0,Basilisk Communications,92.0

In [ ]:
df4=df2.copy()

In [ ]:
df4.shape

(7668, 15)

In [ ]:
df4[5834:5835]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5834,The Trip,Not Rated,Comedy,2010,"April 24, 2011 (Greece)",7.0,22000.0,Michael Winterbottom,NaN,Steve Coogan,United Kingdom,NaN,3945217.0,Baby Cow Productions,112.0

In [ ]:
df4.drop(labels=5834,inplace=True)

In [ ]:
df4.shape

(7667, 15)

In [ ]:
df4.reset_index(drop=True,inplace=True)

In [ ]:
df4[5834:5835]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5834,Hesher,R,Drama,2010,"June 25, 2011 (Japan)",7.0,51000.0,Spencer Susser,Spencer Susser,Joseph Gordon-Levitt,United States,7000000.0,449702.0,The Last Picture Company,106.0

In [ ]:
df2.shape

(7668, 15)

In [ ]:
df2.drop(labels=5834,inplace=True)
df2.reset_index(drop=True,inplace=True)

In [ ]:
df2.shape

(7667, 15)

In [ ]:
df2.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [ ]:
df2.isnull().sum()

name           0
rating         0
genre          0
year           0
released       2
score          0
votes          0
director       0
writer         0
star           0
country        3
budget      2170
gross        189
company       17
runtime        0
dtype: int64

In [ ]:
df2['budget'].head()

0    19000000.0
1     4500000.0
2    18000000.0
3     3500000.0
4     6000000.0
Name: budget, dtype: float64

In [ ]:
df2['budget'].isnull().sum()

2170

In [ ]:
df2['budget'].dtype

dtype('float64')

In [ ]:
mean4=df2['budget'].mean().astype(int).astype(float)

In [ ]:
mean4

35589876.0

In [ ]:
df2['budget'].replace(np.nan,mean4,inplace=True)

In [ ]:
df2['budget'].isnull().sum()

0

In [ ]:
df2['budget'].head()

0    19000000.0
1     4500000.0
2    18000000.0
3     3500000.0
4     6000000.0
Name: budget, dtype: float64

In [ ]:
df2.isnull().sum()

name          0
rating        0
genre         0
year          0
released      2
score         0
votes         0
director      0
writer        0
star          0
country       3
budget        0
gross       189
company      17
runtime       0
dtype: int64

In [ ]:
df2['gross'].head()

0     46998772.0
1     58853106.0
2    538375067.0
3     83453539.0
4     39846344.0
Name: gross, dtype: float64

In [ ]:
df2['gross'].isnull().sum()

189

In [ ]:
mean5=df2['gross'].mean().astype(int).astype(float)

In [ ]:
mean5

78510510.0

In [ ]:
df2['gross'].replace(np.nan,mean5,inplace=True)

In [ ]:
df2['gross'].isnull().sum()

0

In [ ]:
df2['gross'].head()

0     46998772.0
1     58853106.0
2    538375067.0
3     83453539.0
4     39846344.0
Name: gross, dtype: float64

In [ ]:
df2.isnull().sum()

name         0
rating       0
genre        0
year         0
released     2
score        0
votes        0
director     0
writer       0
star         0
country      3
budget       0
gross        0
company     17
runtime      0
dtype: int64

In [ ]:
df04=df['country'].isnull().copy()

In [ ]:
for x in range(7668):
  if df04[x]==True:
    print(x)

5728
5730
7615

In [ ]:
df2[5728:5729]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5728,Saw: The Final Chapter,R,Crime,2010,NaN,5.6,93000.0,Kevin Greutert,Patrick Melton,Tobin Bell,NaN,35589876.0,78510510.0,NaN,107.0

In [ ]:
df2.at[5728,'country']='American'

In [ ]:
df2[5728:5729]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5728,Saw: The Final Chapter,R,Crime,2010,NaN,5.6,93000.0,Kevin Greutert,Patrick Melton,Tobin Bell,American,35589876.0,78510510.0,NaN,107.0

In [ ]:
df2[5730:5731]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5730,The Wolfman,R,Drama,2010,NaN,5.8,104000.0,Joe Johnston,Andrew Kevin Walker,Benicio Del Toro,NaN,35589876.0,78510510.0,NaN,107.0

In [ ]:
df2.at[5730,'country']='American'

In [ ]:
df2[5730:5731]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5730,The Wolfman,R,Drama,2010,NaN,5.8,104000.0,Joe Johnston,Andrew Kevin Walker,Benicio Del Toro,American,35589876.0,78510510.0,NaN,107.0

In [ ]:
df2[7614:7615]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7614,Clinton Road,R,Horror,2019,"June 14, 2019 (United States)",5.9,1900.0,Richard Grieco,Noel Ashman,Ace Young,NaN,2500000.0,50400.0,Growing Tree Productions,77.0

In [ ]:
df2.isnull().sum()

name         0
rating       0
genre        0
year         0
released     2
score        0
votes        0
director     0
writer       0
star         0
country      1
budget       0
gross        0
company     17
runtime      0
dtype: int64

In [ ]:
df2.at[7614,'country']='United States'

In [ ]:
df2.isnull().sum()

name         0
rating       0
genre        0
year         0
released     2
score        0
votes        0
director     0
writer       0
star         0
country      0
budget       0
gross        0
company     17
runtime      0
dtype: int64

In [ ]:
df06=df2['company'].isnull().copy()

In [ ]:
df2.reset_index(drop=True,inplace=True)

In [ ]:
df2.shape

(7667, 15)

In [ ]:
list1=[]
for x in range(7667):
  if df06[x]==True:
    list1.append(x)
    print(x)

408
464
469
633
969
1033
1572
1594
1630
1806
5728
5730
7598
7656
7661
7662
7665

In [ ]:
list1

[408,
 464,
 469,
 633,
 969,
 1033,
 1572,
 1594,
 1630,
 1806,
 5728,
 5730,
 7598,
 7656,
 7661,
 7662,
 7665]

In [ ]:
df2.drop(labels=list1,inplace=True)
df2.reset_index(drop=True,inplace=True)

In [ ]:
df2.shape

(7650, 15)

In [ ]:
df2.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [ ]:
df2.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget      float64
gross       float64
company      object
runtime     float64
dtype: object

In [ ]:
df2['Avg_Votes']=df2['votes']/df2['votes'].mean()

In [ ]:
df2['Avg_Votes']

0       10.502725
1        0.736437
2       13.595761
3        2.503886
4        1.223618
          ...
7645     0.000159
7646     0.998246
7647     0.000408
7648     0.000329
7649     0.000079
Name: Avg_Votes, Length: 7650, dtype: float64

In [ ]:
df2['score']

0       8.400000
1       5.800000
2       8.700000
3       7.700000
4       7.300000
          ...
7645    7.100000
7646    6.390411
7647    4.700000
7648    5.700000
7649    5.700000
Name: score, Length: 7650, dtype: float64

In [ ]:
df2.shape

(7650, 16)

In [ ]:
df2['Avg_Score']=df2['score']/df2['score'].mean()

In [ ]:
df2.shape

(7650, 17)

In [ ]:
df2.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,Avg_Votes,Avg_Score
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,10.502725,1.314138
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.736437,0.907381
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,13.595761,1.361071
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,2.503886,1.204626
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1.223618,1.142048

In [ ]:
df2['RuntimeInMinutes']=df2['runtime']/60

In [ ]:
df2.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,Avg_Votes,Avg_Score,RuntimeInMinutes
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,10.502725,1.314138,2.433333
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,0.736437,0.907381,1.733333
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,13.595761,1.361071,2.066667
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,2.503886,1.204626,1.466667
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1.223618,1.142048,1.633333

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
def search_keywords(url, keywords):
    # Fetch the webpage
    response = requests.get(url)

    # Check if request was successful
    if response.status_code == 200:
        # Parse the HTML content
        soup = BeautifulSoup(response.content, 'html.parser')

        # Find all text on the page
        text = soup.get_text()

        # Search for keywords
        found_keywords = []
        for keyword in keywords:
            if keyword.lower() in text.lower():
                found_keywords.append(keyword)

        return found_keywords
    else:
        print("Failed to fetch the webpage")
        return []

In [ ]:
url = "https://www.example.com"
keywords = ["python", "web scraping", "data science"]

found_keywords = search_keywords(url, keywords)
if found_keywords:
    print("Keywords found on the page:", found_keywords)
else:
    print("Keywords not found on the page.")

Keywords not found on the page.

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
response = requests.get('https://www.imdb.com/title/tt1740047/fullcredits/?ref_=tt_ql_1')

In [ ]:
response

In [ ]:
soup=BeautifulSoup(response.content,'html.parser')

In [ ]:
paragraph =soup.find_all(['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'span', 'li', 'a', 'div', 'td', 'th'])

In [ ]:
answers=[]

In [ ]:
for paragraph in paragraph:
  text = paragraph.get_text()